@model DaleelElkheir.Admin.Models.SeasonalProjects.EventActivityModel

@{
    ViewBag.Title = "CreateEventActivity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/bootstrap-datetimepicker-0.0.11/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

@using (Html.BeginForm("CreateEventActivity", "EventActivity", FormMethod.Post))
{

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h5>Create Event Activity</h5>
        </div>
        <div class="panel-body">

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="row form-group  ">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.TitleEn, "Title English", htmlAttributes: new { @class = "control-label col-md-4", @Style = "text-align: left !important;" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.TitleEn, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TitleEn, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(model => model.TitleAr, "Title Arabic", htmlAttributes: new { @class = "control-label col-md-4", @Style = "text-align: left !important;" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.TitleAr, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TitleAr, "", new { @class = "text-danger" })
                    </div>
                </div>
              </div>
                <div class="row form-group  ">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.StartDate, "Start Date", htmlAttributes: new { @class = "control-label col-md-4", @Style = "text-align: left !important;" })
                        <div class="col-md-8">
                            <div id="StartDate" class="input-append">
                                <input data-format="dd/MM/yyyy HH:mm:ss PP" name="StartDate" id="StartDate" type="datetime" value="" required />
                                <span class="add-on">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                    </i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.EndDate, "End Date", htmlAttributes: new { @class = "control-label col-md-4", @Style = "text-align: left !important;" })
                        <div class="col-md-8">
                            <div id="EndDate" class="input-append">
                                <input data-format="dd/MM/yyyy HH:mm:ss PP" name="EndDate" id="EndDate" type="datetime" value="" required />
                                <span class="add-on">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                    </i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.SeasonalProjectID, "Seasonal Project", htmlAttributes: new { @class = "control-label col-md-4", @Style = "text-align: left !important;" })
                        <div class="col-md-8">
                            @Html.DropDownList("SeasonalProjectID", new SelectList(ViewBag.Project, "Value", "Text"), null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SeasonalProjectID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.ActivityID, "Activity", htmlAttributes: new { @class = "control-label col-md-4", @Style = "text-align: left !important;" })
                        <div class="col-md-8">
                            @Html.DropDownList("ActivityID", new SelectList(ViewBag.ActivityList, "Value", "Text"), null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ActivityID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.DescriptionEn, "Description English", htmlAttributes: new { @class = "control-label col-md-4", @Style = "text-align: left !important;" })
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.DescriptionEn, 2, 40, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DescriptionEn, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.DescriptionAr, "Description Arabic", htmlAttributes: new { @class = "control-label col-md-4", @Style = "text-align: left !important;" })
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.DescriptionAr, 2, 40, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DescriptionAr, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                </div>
            </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" name="save" value="Save" class="btn  btn-primary btn-group-lg" style="min-width:100px;" />
                @Html.ActionLink("Cancel", "EventActivityList", null, htmlAttributes: new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}
 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
  
<script src="~/bootstrap-datetimepicker-0.0.11/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">

        $(function () {
            debugger;
            $('#StartDate').datetimepicker({
                language: 'en',
                pick12HourFormat: true
            });
        });
       
        $(function () {
            debugger;
            $('#EndDate').datetimepicker({
                language: 'en',
                pick12HourFormat: true
            });
        });

        jQuery.validator.methods["date"] = function (value, element) { return true; }


</script>
<script src="~/ckeditor_4.8.0_full/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.env.isCompatible = true;
    CKEDITOR.replace("DescriptionEn");
    CKEDITOR.replace("DescriptionAr");
</script>
<script type="text/javascript">


    $(function () {
        $("#SeasonalProjectID").change(function () {
            debugger;
            var val = $(this).val();
            var subItems="";
            $.getJSON("@Url.Action("GetActivities", "EventActivity")", { SeasonalProjectID: val }, function (data) {
              $.each(data,function(index,item){
                subItems+="<option value='"+item.Value+"'>"+item.Text+"</option>"
              });
              $("#ActivityID").html(subItems)
            });
        });
    });
</script> 
}
