@model DaleelElkheir.Admin.Models.SeasonalProjects.SeasonalProjectActivityModel

@{
    ViewBag.Title = "UpdateSeasonalProjectActivity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("UpdateSeasonalProjectActivity", "SeasonalProjectActivity", FormMethod.Post))
{

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h5>Update Seasonal Project Activity</h5>
        </div>
        <div class="panel-body">

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   
                <div class="row form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.SeasonalProjectID, "Seasonal Project", htmlAttributes: new { @class = "control-label col-md-4", @Style = "text-align: left !important;" })
                        <div class="col-md-8">
                            @Html.DropDownList("SeasonalProjectID", new SelectList(ViewBag.Project, "Value", "Text"), null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SeasonalProjectID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Price, "Price", htmlAttributes: new { @class = "control-label col-md-4", @Style = "text-align: left !important;" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row form-group  ">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Target, "target", htmlAttributes: new { @class = "control-label col-md-4", @Style = "text-align: left !important;" })
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.Target, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Target, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Region, "Region", htmlAttributes: new { @class = "control-label col-md-4", @Style = "text-align: left !important;" })
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.Region, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })

                        </div>
                    </div>

                </div>
      
                    </div>
                </div>
            </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" name="save" value="Save" class="btn btn-primary btn-group-lg" style="min-width:100px;" />
                @*@Html.ActionLink("Cancel", "SeasonalProjectActivityList", null, htmlAttributes: new { @class = "btn btn-primary" })*@
            </div>
        </div>
    </div>
    @Html.HiddenFor(m=>m.ID)
    @Html.HiddenFor(m => m.OrganizationID)
}
 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
