@model IEnumerable<DaleelElkheir.DAL.Domain.Hospital>

@{
    ViewBag.Title = "HospitalList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hospitals</h2>
<br/>
<p>
    @Html.ActionLink("Create New", "CreateHospital", null,new {@class="btn btn-primary"})
</p>
<table class="table-striped table-hover table-condensed table-bordered table" id="HospitalTable">
    <thead>
        <tr>

            <th>
                @Html.DisplayName("Name EN")
            </th>
            <th>
                @Html.DisplayName("Name AR")
            </th>
            <th>
                @Html.DisplayName("Title En")
            </th>
            <th>
                @Html.DisplayName("Title Ar")
            </th>
            <th>
                @Html.DisplayName("Region")
            </th>
            <th>
                @Html.DisplayName("Description En")
            </th>
            <th>
                @Html.DisplayName("Description Ar")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameEn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameAr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleEn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleAr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.NameEn) , @Html.DisplayFor(modelItem => item.City.Governorate.NameEn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionEn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionAr)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateHospital", new { hosID = item.ID }) |
                    @*@Html.ActionLink("Delete", "DeleteHospital", new { bankID = item.ID })*@
                    <input type="button" id="del" name="delete" class="btn-link" style="padding:0px;" value="delete" onclick="deleteRecord(@item.ID)" />
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
$(document).ready(function() {
    $('#HospitalTable').DataTable();
});

function deleteRecord(ID)
{
    debugger;
    $.getJSON("@Url.Action("DeleteHospital", "Hospital")", { hosID: ID }, function (data) {
    if(data.result == false)
    {
        alert(data.message);
    }
    else
    {
        alert(data.message);
        window.location.href = '@Url.Action("HospitalList", "Hospital")'
    }

});
}
</script>


}