@model IEnumerable<DaleelElkheir.DAL.Domain.Governorate>

@{
    ViewBag.Title = "GovernorateList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Governorates</h2>
<br/>
<p>
    @Html.ActionLink("Create New", "CreateGovernorate", null,new {@class="btn btn-primary"})
</p>
<table class="table-striped table-hover table-condensed table-bordered table" id="GovernorateTable">
    <thead>
        <tr>

            <th>
                @Html.DisplayName("Name En")
            </th>
            <th>
                @Html.DisplayName("Name Ar")
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.NameEn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameAr)
                </td>
               
                <td>
                    @Html.ActionLink("Edit", "UpdateGovernorate", new { governorateID = item.ID }) |
                    @*@Html.ActionLink("Delete", "DeleteGovernorate", new { governorateID = item.ID,OnClick= "deleteRecord("+ item.ID +")" })*@
                    
                    <input type="button" id="del" name="delete" class="btn-link" style="padding:0px;" value="delete" onclick="deleteRecord(@item.ID)"/>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
$(document).ready(function() {
    $('#GovernorateTable').DataTable();
});



function deleteRecord(ID)
{
    debugger;
    $.getJSON("@Url.Action("DeleteGovernorate", "Governorate")", { governorateID: ID }, function (data) {
    if(data.result == false)
    {
        alert(data.message);
    }
    else
    {
        alert(data.message);
        window.location.href = '@Url.Action("GovernorateList", "Governorate")'
    }

});
}
</script>


}